* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Gilroy", sans-serif;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
  border: none;
}

.container {
  max-width: 375px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-right: 65px;
    padding-left: 65px;
  }
}
